<a href="https://colab.research.google.com/github/Saicharan-007/haihua_INFO5731_Fall2022/blob/main/In_class_exercise_01_09072022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
Str='saicharan'
print(len(Str))

9

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
String='google.com'
dictonary={} 
for i in String:
 keys=dictonary.keys()
 if i in keys:
  dictonary[i]+=1
 else:
  dictonary[i]=1
print(dictonary)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
list1=[4,10,20,55,40] #Consider a list containing integers
sum=0
for i in range(len(list1)):
  sum=sum+list1[i]
print(sum)

129

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [1]:
it_str = "restart"
final = it_str.replace("r", "$").replace("$", "r", 1)
print(final)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
Paramater_a=10 
Paramater_b=20
S=3.14*((1+Paramater_a/Paramater_b)**3)
print(S)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
Dictonary1={1:10, 2:20}
Dictonary2={3:30, 4:40}
Dictonary3={5:50,6:60}
Dictonary1.update(Dictonary2)
Dictonary1.update(Dictonary3)
print(Dictonary1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tup=(20,30,45,78,30)
print(20 in tup)
print(3 in tup)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
Set_Max_Min={20,30,56,99,10}
print(max(Set_Max_Min))
print(min(Set_Max_Min))

99
10

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [2]:
from itertools import islice
from random import randint

student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

def class_group(student_list, no_of_groups, min_size=3, max_size=5):
    lst_student = iter(student_list)
    for i in range(no_of_groups):
        group = list(islice(lst_student,randint(min_size,max_size)))
        if group:
            yield group
        else:
            break
print(list(class_group(student_list,5)))

[['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'], ['bk0301', 'rak0120', 'rrk0058'], ['spk0057', 'vl0135', 'nm0547', 'pn0159'], ['msp0174', 'dd0420', 'ds0761', 'rs0850'], ['ss1995', 'at0739', 'at0768', 'mv0299']]

(10) Write a Python program to find the duplicate elements in a given array **integers**. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def dup_elements(Elements):
    count=0
    lst2=[]
    for i in range(len(Elements)):
        for j in range(i+1,len(Elements)):
            if Elements[i]==Elements[j]:
                lst2.append(Elements[i])
    if len(lst2)==0:
        return -1;
    else:
        return lst2;

Elements=[45,55,45,89,98,89,67]
print(dup_elements(Elements))

[45, 89]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta
def Year_Sunday(year):
       date_time = date(year, 1, 1)      
       date_time += timedelta(days = 6 - date_time.weekday())  
       while date_time.year == year:
          yield date_time
          date_time += timedelta(days = 7)
for k in Year_Sunday(2022):
   print(k)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25