<a href="https://colab.research.google.com/github/Saicharan-007/haihua_INFO5731_Fall2022/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [2]:
from random import randint
from statistics import mean
Random=[randint(1,100) for ind in range(12)]
Random.sort()
print('Ascending Order-',Random)
Random.sort(reverse=True)
print('Desceding Order-',Random)
print('Average is ',mean(Random))

Ascending Order- [15, 15, 27, 30, 31, 32, 35, 45, 51, 53, 54, 76]
Desceding Order- [76, 54, 53, 51, 45, 35, 32, 31, 30, 27, 15, 15]
Average is  38.666666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

Question 2.1

In [3]:
print('Enter two Sentences')
St_1=input()
St_2=input()

Enter two Sentences
I am Charan
I am mickey

Question 2.2

In [4]:
import re
def list_to_Sentence(str_input):
  result=re.compile(r'\w+|[^\w\s]')
  return result.findall(str_input);

ls_to_St_1=list_to_Sentence(St_1)
ls_to_St_2=list_to_Sentence(St_2)
print(ls_to_St_1)
print(ls_to_St_2)

['I', 'am', 'Charan']
['I', 'am', 'mickey']

Question 2.3

In [5]:
Compare_List=[]
for lst in ls_to_St_1:
  if lst in ls_to_St_2:
    Compare_List.append(lst)
print(Compare_List)

['I', 'am']

Question 2.4

In [6]:
import string
def punctuation__1(str_input):
  return ''.join([str for str in str_input if str not in string.punctuation])

print(punctuation__1(St_1))
print(punctuation__1(St_2))

I am Charan
I am mickey

Question 2.5

In [7]:
def Number_of_Vowels(str_input):
  str_lower=str_input.lower()
  vowels={}.fromkeys('aeiou',0)
  for lst in str_lower:
    if lst in vowels:
      vowels[lst]+=1
  vowels_count={key:value for key,value in vowels.items() if value!=0}
  return vowels_count;
print(Number_of_Vowels(St_1))
print(Number_of_Vowels(St_2))

{'a': 3, 'i': 1}
{'a': 1, 'e': 1, 'i': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [8]:
# Your code here
print('r  v')
for i in range(1,10):
  print("{0}  {1}".format(i,(4/3)*(3.141592653589793238)*(i)**3))

r  v
1  4.1887902047863905
2  33.510321638291124
3  113.09733552923254
4  268.082573106329
5  523.5987755982989
6  904.7786842338603
7  1436.7550402417319
8  2144.660584850632
9  3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

Question 4.1

In [10]:
# Your code here
##Question 1 Difference Between Occupied Hosing Units
import pandas as pd
Occupied_Housing = pd.read_csv('Assignment1_denton_housing.csv')
Difference_df = Occupied_Housing[Occupied_Housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
Difference_df.value.diff().sort_values()

8     -795.0
20    -303.0
26    1404.0
32    1565.0
38    2622.0
14    5091.0
2        NaN
Name: value, dtype: float64

Qustion 4.2

In [11]:
##Question 2 calculate the percentage of housing units which are vacant an occupied.
import pandas as pd
vacant_housing = Occupied_Housing[Occupied_Housing['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
occupied_Units = Occupied_Housing[Occupied_Housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()
total_housing_units = Occupied_Housing[Occupied_Housing['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()
lst_yr = Occupied_Housing[Occupied_Housing['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()
vacant_housing_units_Percentage = [str((vacant/total)*100)+' %' for vacant,total in zip(vacant_housing,total_housing_units)]
occupied_housing_units_percentage = [str((ind/total)*100)+' %' for ind, total in zip(occupied_Units, total_housing_units)]
Final_Result = pd.DataFrame(list(zip(lst_yr,vacant_housing_units_Percentage, occupied_housing_units_percentage)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
Final_Result

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

Question 4.3

In [12]:
## Question 3 Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.
vacant_units = Occupied_Housing[Occupied_Housing['title_field'] == 'Vacant Housing Units']
Highest_Number = pd.concat([Difference_df[Difference_df['value'] == Difference_df['value'].max()],vacant_units[vacant_units['value'] == vacant_units['value'].max()]])
print(Highest_Number[['title_field','year','value']])

               title_field  year  value
38  Occupied Housing Units  2014  46295
1     Vacant Housing Units  2008   4483

Question 4.4

In [13]:
##Question 4 Calculate the harmonic mean of the total housing units and print it out
from scipy import stats
print(stats.hmean(total_housing_units))

44398.28543969185